babel
backrefs
certifi
charset-normalizer
click
colorama
dandi
ghp-import
idna
importlib_metadata
Jinja2
Markdown
MarkupSafe
mergedeep
matplotlib
mkdocs
mkdocs-get-deps
mkdocs-jupyter
mkdocs-material
mkdocs-material-extensions
numpy
packaging
paginate
pandas
pathspec
platformdirs
Pygments
pymdown-extensions
PyMuPDF  # Used for PDF text and image extraction
Pillow  # For image processing
pyyaml  # For updating mkdocs.yml
python-dateutil
pynwb
PyYAML
pyyaml_env_tag
requests
scipy
six
urllib3
watchdog
zipp